body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root{
  height: 100%;
}

.map{
  height: 100%;
  background: no-repeat;
}

.message-form{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.author{
  opacity: .7;
}

.quoteWindow{
  max-width: 80px;
  min-width: 60px;
}